 /*comentarios no css são em /**/ 
 a{
    color: red; 
    text-decoration: none ;
    font-size: 30px;
}
h1{
    font-family: Helvetica, sans-serif; 
} 
a{
    color: green 
} 
#segundo{
            color: orange  
}

    body p a.link {
        
        color: green;
          }   




/*o # é usado para definição de classe*/

 